.beer-info-container, .beer-info-inside-wrapper {
  text-align: center;
  flex: 1 0 100%;
  margin: 10px 0;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.beer-info-inside-wrapper {
  width: 80%;
}

.beer-name,
.beer-style,
.beer-description,
.beer-abv,
.add-beer-container,
.beer-glass,
.your-rating
 {
  box-shadow: 0 5px 5px rgba(57,63,72,0.5), 0 -1px 13px rgba(57,63,72,0.3);
  background-color: white;
  padding: 10px;
  margin: 12px 0;
}

.beer-abv {
  margin: 0;
}

.beer-glass {
  margin: 10px 0
}

.beer-label {
  box-shadow:0 5px 5px rgba(57,63,72,0.5), 0 -1px 13px rgba(57,63,72,0.3);
}

.button {
  border: none;
  height: 50px;
  width: 150px;
  background-color:  #E37222;
  box-shadow: 0 5px 5px rgba(57,63,72,0.5), 0 -1px 13px rgba(57,63,72,0.3);
  font-size: 18px;
  color: #EFEFEF;
}

.add-beer-container {
  flex-flow: column;
  justify-content: center;
  margin: 0;
  margin-bottom: 12px;
}

.rating-input {
  width: 35px;
  border: none;
  border-bottom: solid 1px #ccc;
  background-color: transparent;
  font-size: 1rem;
  text-align: center;  
}

.rating-input-label {
  padding-right: 7px;
}

.rating-input:focus {
  outline: none;
}

.add-beer {
  margin-top: 10px;
}

@media(min-width:768px) {
  .back-arrow-wrapper,
  .beer-info-inside-wrapper,
  .rating-input,
  .button {
    font-size: 2.5rem;
  }

  .button {
    height: 100px;
    width: 300px;
  }

  .rating-input {
    width: 70px;
  }
}