.container {
  display: flex;

}

.main-container {
  flex-flow: column;
}

#header {
  flex: 1 1 50%;
  text-align: center;
  background-image: linear-gradient(to bottom rgba(0,0,0,0.3));
  background: url('../summer-sunshine-alcohol-drink.jpg') no-repeat;
  background-size: 100%;
  color: #EFEFEF;
}

#title {
  font-size: 3rem;
}

.footer {
  flex: 1 1 17%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #E37222;
}

.router-link {
  margin: 0 20px;
  color: #EFEFEF;
}

.router-link:visited {
  color: #EFEFEF;
}

.fa {
  color: #EFEFEF;
}

.fa-user-o {
  margin-bottom: 3px;
}