.home-container {
  display: flex;
  flex: 1 1 100%;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #EFEFEF;
}

#login-container {
  background-color: #EFEFEF;
  /* color: #07889B; */
  flex: 1 0 100%;
}

.signup-button {
  border-color: #07889B;
  color: #07889B;
}

input[type='password'], input[type='email'] {
  border: none;
  border-bottom: solid 1px black;
  background-color: transparent;
  font-size: 1rem;  
}

input[type='password']:focus, input[type='email']:focus {
  outline: none;
}

.error {
  color: red;
}

