.home-container {
  display: flex;
  flex: 1 0 100%;
  flex-flow: column;
  min-height: 454px;
  justify-content: space-between;
  background-color: #EFEFEF;
}

#signup-container {
  background-color: #EFEFEF;
  color: #07889B;
  flex: 1 0 100%;
}

.signup-button {
  border-color: #07889B;
  color: #07889B;
}
