.search-container {
  justify-content: flex-end;
  margin-top: 10px;
  margin-right: 10px;  
}

.search-bar {
  border: none;
  border-bottom: solid 1px white;
  background-color: transparent;
  font-size: 1rem;  
  max-width: 150px;
  color: white;
}

.search-bar:focus {
  outline: none;
}

.search-button {
  max-width: 60px;
  background: none;
  border: none;
  font-size: 18px;
}

@media(min-width:768px) {

  .search-button, .search-bar {
    font-size: 2.5rem;
  }

  .search-bar {
    width: 300px;
    max-width: 300px;
  }

}