.arrow-container {
  flex: 1 1 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 15px;
}
.info-container {
  flex: 1 1 100%;
  display: flex;
  align-items: center;
}
.search-item-container {
  flex: 1 0 100%;
  color: #EFEFEF;
  height: 50px;
  background-color: #66B9BF;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  border-bottom: solid 1px grey;
}

.thumbnail {
  max-height: 50px;
}

.search-item-link {
  flex: 1 0 100%;
}

.results-container {
  flex-flow: column;
  flex:1 0 100%;
}

