.arrow-container {
  flex: 1 1 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 15px;
}
.info-container {
  flex: 1 1 100%;
  display: flex;
  color: black;
  font-size: 1rem;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.description-container {
  flex: 1 1 100%;
  color: #777;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: .8rem;
}

.search-item-container {
  flex: 1 0 100%;
  color: black;
  height: 200px;
  width: 90%;
  padding: 15px;
  margin: 8px 0;
  background-color: white;
  align-items: center;
  flex-flow: column;
  box-shadow:  0 5px 5px rgba(57,63,72,0.5), 0 -1px 13px rgba(57,63,72,0.3);
}

.thumbnail {
  max-width: 100px;
  width: 100px;
}

.item-name {
  margin: 0;
}

.search-item-link {
  flex: 1 0 100%;
  flex-flow: column;
  width: 100%;
}

.results-container {
  flex-flow: column;
  flex:1 0 100%;
  align-items: center;
  margin: 40px 0;
}

@media (min-width:768px) {
  .search-item-container {
    height: 300px;
  }
  .info-container {
    font-size: 2.5rem;
  }

  .thumbnail {
    max-height: 150px;
  }

  .description-container {
    font-size: 1.2rem;
  }

}

