.search-container {
  justify-content: flex-end;
  margin-top: 10px;
  margin-right: 10px;  
}

.search-bar {
  flex: 5;
  border: none;
  border-bottom: solid 1px white;
  background-color: transparent;
  font-size: 1rem;  
  max-width: 150px;
  color: white;
}

.search-bar:focus {
  outline: none;
}

.search-button {
  flex: 1;
  max-width: 30px;
  background: none;
  border: none;
  font-size: 18px;
}