
body {
  margin: 0;
  padding: 0;
  font-family: 'Encode Sans Expanded', sans-serif;
  background-color: #EFEFEF;  
}

a {
  text-decoration: none;
  color: #EFEFEF;
}

a:visited {
  color: #EFEFEF;
}

